// Playerstats card
#playerstats__wrapper {
  background: $white;
  padding: 0;
  margin: 50px auto;
  width: 300px;
}

#playerstats__select--wrapper {
    padding: $padding;
    position: relative;
}

#playerstats__selected {
  margin: 0;
  padding: 11px;
  background: $light-grey;
  cursor: pointer;
  position: relative;
  font-weight: 400;

  &:after {
    border: solid $darker-grey;
    border-width: 0 2px 2px 0;
    padding: 4px;
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: 12px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

#playerstats__select-items {
  position: absolute;
  left: 15px;
  right: 15px;
  z-index: 99;
}

.playerstats__option {
  padding: 11px;
  background: $light-grey;
  cursor: pointer;
  border-bottom: 1px solid #BFBFBF;

  &:last-child {
    border: none;
  }

  &:hover {
    background: #BFBFBF;
  }
}

.playerstats__select-hide {
  display: none;
}

.playerstats__img--wrapper {
  max-width: 150px;
  margin: 15px 0 0 15px;
}

.playerstats__stats--wrapper {
  background: $pink;
  padding: $padding;
}

.playerstats__stats--header {
  color: $white;
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.playerstats__basicinfo {
  flex-grow: 2;
}

.playerstats__name {
  font-size: $font-xl;
  font-weight: 400;
  margin: 0 0 10px;
}

.playerstats__badge--wrapper {
  background: white;
  padding: 12px;
  border-radius: 50%;
  position: absolute;
  top: -60px;
  right: 0;
}

#playerstats__table {
  border-collapse: collapse;
  width: 100%;
  background: $light-grey;
  color: $font-secondary;
  box-shadow: 0 0 5px $dark-grey;

  td , th {
    padding: 8px;
  }

  th {
    text-align: left;
    font-weight: 300;
  }

  td {
    font-weight: 500;
    text-align: right;
  }

  tr {
    border-bottom: 2px solid $pink;

    &:last-child {
      border-bottom: none;
    }
  }
}





